{% extends 'produto/base.html' %}

{% block content %}
           <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Lista de Produtos
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <!--<h2>Bordered Table</h2>-->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Quantidade (un)</th>
                                        <th>Preço Médio (R$)</th>
                                    </tr>
                                </thead>
                                <tbody>
				
									{% for produto in produtos %}
										<tr> 
											<td>{{produto.nome}}</td>
											<td>{{produto.qtd}}</td>
											<td>{{produto.precoMedio}}</td>
										</tr>
									{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
               
                   


            </div>
            <!-- /.container-fluid -->



{% endblock content %}
